<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑文章</title>
    <link rel="icon" href="https://okyl890b4.qnssl.com/bitbug_favicon%20%282%29.ico" mce_href="https://okyl890b4.qnssl.com/bitbug_favicon%20%282%29.ico" type="image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.css.network/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.css.network/css?family=Work+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" th:src="@{'https://okyl890b4.qnssl.com/jquery-2.1.1.min.js'}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" th:src="@{'https://okyl890b4.qnssl.com/materialize.min.js'}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" th:src="@{'https://okyl890b4.qnssl.com/simplemde.min.css'}">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" th:src="@{'https://okyl890b4.qnssl.com/simplemde.min.js'}"></script>
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }

        #main-container,header,.footer-copyright {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            #main-container,header,.footer-copyright {
                padding-left: 0;
            }
        }

        #main-container {
            margin-top:10px;
        }

    </style>
</head>
<body>
<header >
    <nav style="height:100px" class="teal lighten-2">
        <div class="container" >
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" style="line-height:100px;font-size:48px">Admin</a>
            </div>
        </div>
    </nav>
</header>


<ul id="slide-out" class="side-nav fixed">
    <li style="height:100px">
        <img width="200" src="../images/logoko.png" th:src="@{'https://okyl890b4.qnssl.com/2017-02-01-logoko.png'}"  class="brand-logo" style="margin-left:50px;margin-top:10px" />
    </li>
    <li ><a href="#!"  th:href="@{/admin/archive/1}">管理文章</a></li>
    <li class="teal lighten-2 "><a href="#!" class="white-text" th:href="@{/admin/blog/new}">发表文章</a></li>
    <li><a href="#" th:href="@{/home}">返回主页</a></li>
    <li><a href="javascript:logout()">退出登录</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse white-text" style="position:absolute;top:25px"><i class="material-icons" style="font-size:50px">menu</i></a>

<div id="main-container">
    <div class="container" style="width:85%" >
        <div class="row" >
            <div class="input-field col s6 offset-s3">
                <input placeholder="Title" id="title" type="text" >
            </div>
            <div class="chips chips-initial col s8 offset-s2" >
            </div>
            <div class="col s12" style="padding-left:0px;padding-right:0px">
                <textarea></textarea>
            </div>
            <div class="container right" style="margin-top:10px">
                <button class="btn waves-effect waves-light right" onclick="postEditBlog()">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>





<div class="footer-copyright">
    <div class="container center-align ">
        <div class="divider" style="margin-bottom:10px"></div>
        <a style="vertical-align: middle" class="black-text transparent " href="#!">© 2017 Powered By Spring </a><img style="vertical-align: middle" class="responsive-img" src="../images/footer-icon.png" th:src="@{'https://okyl890b4.qnssl.com/2017-02-01-footer-icon.png'}">
    </div>
</div>




<script th:inline="javascript">

    var simplemde = new SimpleMDE();
    simplemde.codemirror.on('refresh', function() {
        if(simplemde.isFullscreenActive()) {
            $('#slide-out').attr('class','side-nav fixed hide');
        } else {
            $('#slide-out').attr('class','side-nav fixed');
        }
    });

        var tags_data = eval(/*[[${tags}]]*/ null) ;
        var mardown_content = /*[[${blog.content}]]*/ null;
        $('.chips-initial').material_chip({
            data:tags_data,
            placeholder: 'Enter a tag',
            secondaryPlaceholder: '+Tag'
        });
        $('#title').val(/*[[${blog.title}]]*/);
        simplemde.value(mardown_content);

    function postEditBlog() {
        var csrf = /*[[${_csrf.token}]]*/ null;
        var content = simplemde.value();
        var tags = $('.chips').material_chip('data');
        var title = $('#title').val();
        var data = {
            blog:{
                title:title,
                content:content,
                id:/*[[${blog.id}]]*/ null
            },
            tags:tags
        };
        $.ajax({
            method:'post',
            url:'/admin/blog/update',
            data:JSON.stringify(data),
            contentType:'application/json;charset=UTF-8',
            headers:{
                Accept:'application/json;charset=UTF-8',
                'X-CSRF-TOKEN':csrf
            },
            success:function (data) {
                if(data.redirect) {
                    window.location.href = data.redirect;
                }
            }

        });
    }

    function logout() {
        var csrf = /*[[${_csrf.token}]]*/ null;
        $.ajax({
            method:'post',
            url:'/logout',
            headers:{
                'X-CSRF-TOKEN':csrf
            },
            success:function () {
                window.location.href = '/home';
            }


        });
    }
</script>

</body>
</html>
