<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" th:href="@{'http://oizochynr.bkt.clouddn.com/materialize.min.css'}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" th:src="@{'http://oizochynr.bkt.clouddn.com/jquery-2.1.1.min.js'}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" th:src="@{'http://oizochynr.bkt.clouddn.com/materialize.min.js'}"></script>
    <script src="../resources/nprogress.js" th:src="@{'http://oizochynr.bkt.clouddn.com/nprogress.js'}"></script>
    <link rel="stylesheet" href="../resources/nprogress.css" th:href="@{'http://oizochynr.bkt.clouddn.com/nprogress.css'}">
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }

        div.nav-wrapper {
            margin-left: 100px;
            margin-right: 100px;
        }

        .parallax-container {
            height:300px;
        }

    </style>
</head>
<body>
<script>
    NProgress.start();
</script>

<header >
    <nav class="transparent" >
        <div class="nav-wrapper">
            <img style="width: 150px"  src="../images/logoko.png" th:src="@{'http://oizochynr.bkt.clouddn.com/2017-02-01-logoko.png'}" class="brand-logo" />

            <div class="hide-on-med-and-down" style="height:64px;float:right;display:inline-block;width:180px;margin-left: 10px" >

                <input id="search-input" class="black-text tooltipped" style="padding-left:30px;position:absolute;margin-top:10px;width:130px;display:inline" type="text"  data-position="bottom" data-delay="50" data-tooltip="Enter to search" />
                <i class="black-text material-icons" style="width:20%;display:inline">search</i>
            </div>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

        </div>
    </nav>
</header>

<div class="row">
    <div class="container col l8 m12 offset-l1 row">
        <div class="col l11  offset-l1 m11 offset-m1">
            <h2 th:text="${year}">2017</h2>
        </div>
        <div class="col l10 offset-l2 m10 offset-m2" th:each="entry:${allMonthBlogs}" th:if="${#lists.isEmpty(entry.value) != true}" >
            <div id="January" class="scrollspy" th:id="${entry.key}">
                <h3 th:text="${entry.key}">January</h3>
            </div>
            <div class="col l12 m12 hoverable" th:each="blog:${entry.value}" >
                <a href="#" class="black-text" th:href="@{'/blogs/' + ${blog.uri}}" ><h5 th:text="${blog.title}">这是文章的标题啊啊啊啊啊</h5></a>
            </div>
        </div>

    </div>
    <div class="container col l3 hide-on-med-and-down">
        <div class="pin-wrapper">
            <ul class="section table-of-contents">
                <li th:each="entry:${allMonthBlogs}">
                    <a href="#January" th:href="'#' + ${entry.key}"  th:text="${entry.key}">January</a>
                </li>
                <!--<li><a href="#February">February</a></li>-->
                <!--<li><a href="#March">March</a></li>-->
                <!--<li><a href="#April">April</a></li>-->
            </ul>
        </div>
    </div>
    <div class="container col l12 m12 row">
        <div class="col l2 offset-l2 m2 offset-m2">
            <a onclick="lastyear()" class="waves-effect waves-light  transparent black-text" ><i class="material-icons left">arrow_back</i>Last Year</a>
        </div>
        <div class="col l2 offset-l4 m2 offset-m4">
            <a onclick="nextyear()" class="waves-effect waves-light  transparent black-text" ><i class="material-icons right">arrow_forward</i>Next Year</a>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container center-align ">
        <div class="divider" style="margin-bottom:10px"></div>
        <a style="vertical-align: middle" class="black-text transparent " href="#!">© 2017 Powered By Spring </a><img style="vertical-align: middle" class="responsive-img" src="../images/footer-icon.png" th:src="@{'http://oizochynr.bkt.clouddn.com/2017-02-01-footer-icon.png'}">
    </div>
</div>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <div class="row">
            <form class="col s12" action="#" th:action="@{/login}" method="post">
                <div class="input-field col s12">
                    <input placeholder="Please input username" id="user_name" type="text" class="validate" name="username">
                    <label for="user_name">Username</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Please input password" id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="col s2 offset-s10">
                    <input type="submit" class="waves-effect waves-light btn" value="Log"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var min_year = 2017;
    var max_year = 2017;
    var current_year = /*[[${year}]]*/ null;
    function lastyear() {
        if(current_year - 1 < min_year) {
            Materialize.toast('这已经是最早的一年啦!', 4000);
            return;
        } else {
            window.location.href = '/blogs/archive/' + (-- current_year);
        }
    }

    function nextyear() {
        if(current_year + 1 > max_year) {
            Materialize.toast('这已经是最后一年啦!', 4000);
            return;
        } else {
            window.location.href = '/blogs/archive/' + (++ current_year);
        }
    }

    window.onload = function () {
        NProgress.done();
    };


    $(document).ready(function(){
        NProgress.set(0.5);
        $('.scrollspy').scrollSpy();
        $('.modal').modal();
        $('.tooltipped').tooltip({delay: 50});
        $(".button-collapse").sideNav();
    });

    $(document).ready(function(){
        $('.pin-wrapper').pushpin({
            top: 30,
            bottom: 2000,
            offset: 0
        });
    });

    $('#search-input').bind('keypress',function(e){
        if(e.keyCode == '13') {
            var keyword = $(this).val();
            window.location.href = '/blogs/search?keyword=' + keyword;
        }
    });

    function logout() {
        var csrf = /*[[${_csrf.token}]]*/ null;
        $.ajax({
            method:'post',
            url:'/logout',
            headers:{
                'X-CSRF-TOKEN':csrf
            },
            success:function () {
                window.location.href = '/home';
            }
        });
    }
</script>
</body>
</html>