<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.css.network/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.css.network/css?family=Work+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" th:src="@{'https://okyl890b4.qnssl.com/jquery-2.1.1.min.js'}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" th:src="@{'https://okyl890b4.qnssl.com/materialize.min.js'}"></script>
    <script src="../resources/nprogress.js" th:src="@{'https://okyl890b4.qnssl.com/nprogress.js'}"></script>
    <link rel="stylesheet" href="../resources/nprogress.css" th:href="@{'https://okyl890b4.qnssl.com/nprogress.css'}">
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }

        div.nav-wrapper {
            margin-left: 100px;
            margin-right: 100px;
        }

        .parallax-container {
            height:300px;
        }

    </style>
</head>

<body>
<script>
    NProgress.start();
</script>
<header >
    <nav class="transparent" >
        <div class="nav-wrapper">
            <a th:href="@{/home}"><img style="width: 150px"  src="../images/logoko.png" th:src="@{'https://okyl890b4.qnssl.com/2017-02-01-logoko.png'}" class="brand-logo" /></a>

            <div class="hide-on-med-and-down" style="height:64px;float:right;display:inline-block;width:180px;margin-left: 10px" >

                <input id="search-input" class="black-text tooltipped" style="padding-left:30px;position:absolute;margin-top:10px;width:130px;display:inline" type="text"  data-position="bottom" data-delay="50" data-tooltip="Enter to search" />
                <i class="black-text material-icons" style="width:20%;display:inline">search</i>
            </div>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html" th:href="@{/about}">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html" th:href="@{/about}">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

        </div>
    </nav>
</header>

    <div class="container">
        <div class="center">
            <img class="responsive-img" src="../images/404.png" style="margin-top: 50px" th:src="@{'http://oizochynr.bkt.clouddn.com/2017-02-01-404.png'}">
        </div>
    </div>
<div class="container">
        <h1 class="center">服务器抽了，请稍后再试</h1>
    </div>



<div class="footer-copyright">
    <div class="container center-align ">
        <div class="divider" style="margin-bottom:10px"></div>
        <a style="vertical-align: middle" class="black-text transparent " href="#!">© 2017 Powered By Spring </a><img style="vertical-align: middle" class="responsive-img" src="../images/footer-icon.png" th:src="@{'https://okyl890b4.qnssl.com/2017-02-01-footer-icon.png'}">
    </div>
</div>



<script>
    window.onload = function () {
        NProgress.done();
    };
    $(document).ready(function() {
        NProgress.set(0.5);
    });
</script>
</body>
</html>