<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="../resources/nprogress.js" th:src="@{/resource/resources/nprogress.js}"></script>
    <link rel="stylesheet" href="../resources/nprogress.css" th:href="@{/resource/resources/nprogress.css}">
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }

        div.nav-wrapper {
            margin-left: 100px;
            margin-right: 100px;
        }

        .parallax-container {
            height:300px;
        }

    </style>
</head>
<body>
<script>
    NProgress.start();
</script>
<header >
    <nav class="transparent" >
        <div class="nav-wrapper">
            <img style="width: 150px"  src="../images/logoko.png" th:src="@{/resource/images/logoko.png}" class="brand-logo" />

            <div class="hide-on-med-and-down" style="height:64px;float:right;display:inline-block;width:180px;margin-left: 10px" >

                <input id="search-input" class="black-text tooltipped" style="padding-left:30px;position:absolute;margin-top:10px;width:130px;display:inline" type="text"  data-position="bottom" data-delay="50" data-tooltip="Enter to search" />
                <i class="black-text material-icons" style="width:20%;display:inline">search</i>
            </div>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

        </div>
    </nav>
</header>


<div class="parallax-container col l12">
    <div class="parallax"><img src="../images/parallax1.png" th:src="@{/resource/images/parallax1.png}" /></div>
</div>
<div class="row">
    <div id="main-cards-container" class="col l7 offset-l1">
        <div id="card-wrapper" class="card transparent black-text" th:each="blog:${blogs}">
            <div class="card-image" th:if="${imgUrls.get(__${blog.id}__)}!= null">
                <img src="../images/parallax1.png" th:src="${imgUrls.get(__${blog.id}__)}">
            </div>
            <div class="card-content">
                <span class="card-title"><a class="black-text" href="#" th:text="${blog.title}" th:href="@{'/blogs/' + ${blog.uri}}">Card Title</a></span>
                <div style="margin-bottom: 10px" th:text="${#dates.format(blog.createTime,'YYYY.MM.dd hh:mm')}">2017.01.02 23:00</div>
                <div>
                    <div class="chip" th:each="tag:${tags.get(__${blog.getId()}__)}">
                        <a href="#" class="black-text" th:text="${tag.tag}" th:href="@{'/blogs/search?tag=' + ${tag.tag}}">Test</a>
                    </div>
                </div>
                <p th:text="${abstractContents.get(__${blog.id}__)}">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
        <!--<div class="container" align="center">-->
            <!--<div  class="preloader-wrapper medium active">-->
                <!--<div class="spinner-layer spinner-blue-only">-->
                    <!--<div class="circle-clipper left">-->
                        <!--<div class="circle"></div>-->
                    <!--</div><div class="gap-patch">-->
                    <!--<div class="circle"></div>-->
                <!--</div><div class="circle-clipper right">-->
                    <!--<div class="circle"></div>-->
                <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div id="right-container" class="col l3 hide-on-med-and-down"  >
        <div class="card transparent">
            <div class="card-content black-text">
                <span class="card-title">今天最热的博客</span>
                <ul>
                    <li th:each="blog,iterStat:${hotest}"><a href="#" class="black-text" th:href="@{'/blogs/' + ${blog.uri}}" th:text="${iterStat.count} + '.' + ${blog.getTitle()}">这是测试1</a></li>
                </ul>
            </div>
        </div>

        <div class="card transparent">
            <div class="card-content black-text">
                <span class="card-title">最热标签</span>
                <div>
                    <div class="chip" th:each="tag:${hotestTags}">
                        <a href="#" class="black-text" th:href="@{'/blogs/search?tag=' + ${tag.tag}}" th:text="${tag.tag}">Tag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-copyright">
    <div class="container center-align ">
        <div class="divider" style="margin-bottom:10px"></div>
        <a style="vertical-align: middle" class="black-text transparent " href="#!">© 2017 Powered By Spring </a><img style="vertical-align: middle" class="responsive-img" src="../images/footer-icon.png" th:src="@{/resource/images/footer-icon.png}">
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <div class="row">
            <form class="col s12" action="#" th:action="@{/login}" method="post">
                <div class="input-field col s12">
                    <input placeholder="Please input username" id="user_name" type="text" class="validate" name="username">
                    <label for="user_name">Username</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Please input password" id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="col s2 offset-s10">
                    <input type="submit" class="waves-effect waves-light btn" value="Log"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    var offset = 0;
    var done = true;
    window.onload = function () {
        NProgress.done();
    };
    $(document).ready(function(){
        NProgress.set(0.5);
        $('.parallax').parallax();
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('.tooltipped').tooltip({delay: 50});
    });

    $('#search-input').bind('keypress',function(e){
        if(e.keyCode == '13') {
            var keyword = $(this).val();
            window.location.href = '/blogs/search?keyword=' + keyword;
        }
    });
    var winH = $(window).height();
    $(window).scroll(function () {
        var pageH = $(document.body).height(); //页面总高度
        var scrollT = $(window).scrollTop(); //滚动条top
        var aa = (pageH-winH-scrollT)/winH;
        if(aa == 0){
            if(!done) {
                return;
            }
            offset ++;
            $.ajax({
                method:'get',
                url:'/home?offset=' + offset,
                beforeSend:function () {
                    done = false;
                    $('#main-cards-container').append('<div class="container" align="center">'
                        + '<div  class="preloader-wrapper medium active">'
                        + '<div class="spinner-layer spinner-blue-only">'
                        +'<div class="circle-clipper left">'
                        + '<div class="circle"></div>'
                        + '</div><div class="gap-patch">'
                        + '<div class="circle"></div>'
                        + '</div><div class="circle-clipper right">'
                        + '<div class="circle"></div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>');
                },
                success:function (data) {
                    var handler = function () {
                        $('#main-cards-container').children().last().remove();
                        $('#main-cards-container').append(data);
                        done = true;
                    }
                    setTimeout(handler,2000);
                }
            });

        }
    });

    function logout() {
        var csrf = /*[[${_csrf.token}]]*/ null;
        $.ajax({
            method:'post',
            url:'/logout',
            headers:{
                'X-CSRF-TOKEN':csrf
            },
            success:function () {
              window.location.href = '/home';
            }


        });
    }


</script>

</body>
</html>
