<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>登录</title>
  <link rel="icon" href="https://okyl890b4.qnssl.com/bitbug_favicon%20%282%29.ico" mce_href="https://okyl890b4.qnssl.com/bitbug_favicon%20%282%29.ico" type="image/x-icon" >
  <meta charset="UTF-8">
  <title>Login, Register form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://okyl890b4.qnssl.com/font-awesome.min.css'>
      <link rel="stylesheet" href="../resources/style.css" th:href="@{'https://okyl890b4.qnssl.com/style.css'}">


</head>

<body>

  <div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <!-- <a href="#" id="signup-box-link">Sign Up</a> -->
    </div >
    <div th:if="${error} == true" class="center red-text">
      用户名或密码错误，请重新输入。
    </div>
    <form class="email-login" th:action="@{/login}" method="post">
      <div class="u-form-group">
        <input type="text" placeholder="Username" name="username"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password" name="password"/>
      </div>
      <!-- <div class="u-form-group">
        <input type="text" class="verify" placeholder="验证码"  />
      </div> -->
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" th:src="@{'https://okyl890b4.qnssl.com/jquery-2.1.1.min.js'}"></script>
    <script src="../resources/index.js" th:src="@{'https://okyl890b4.qnssl.com/index.js'}"></script>

</body>
</html>
