<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="../resources/nprogress.js" th:src="@{/resource/resources/nprogress.js}"></script>
    <link rel="stylesheet" href="../resources/nprogress.css" th:href="@{/resource/resources/nprogress.css}">
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }

        div.nav-wrapper {
            margin-left: 100px;
            margin-right: 100px;
        }
        a {
            color: black;
        }

    </style>
</head>
<body>
<script>
    NProgress.start();
</script>

<header >
    <nav class="transparent" >
        <div class="nav-wrapper">
            <img style="width: 150px"  src="../images/logoko.png" th:src="@{/resource/images/logoko.png}" class="brand-logo" />

            <div class="hide-on-med-and-down" style="height:64px;float:right;display:inline-block;width:180px;margin-left: 10px" >

                <input id="search-input" class="black-text tooltipped" style="padding-left:30px;position:absolute;margin-top:10px;width:130px;display:inline" type="text"  data-position="bottom" data-delay="50" data-tooltip="Enter to search" />
                <i class="black-text material-icons" style="width:20%;display:inline">search</i>
            </div>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="black-text" href="#" th:href="@{/home}">Home</a></li>
                <li><a class="black-text" href="" th:href="@{'/blogs/archive/' + ${#dates.year(#dates.createNow())}}">Archive</a></li>
                <li><a class="black-text" href="collapsible.html">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="black-text" href="#" th:href="@{/admin/archive/1}">Panel</a></li>
                <li sec:authorize="isAnonymous()"><a class="black-text" href="#modal1">Login</a></li>
                <li sec:authorize="isAuthenticated()" ><a type="submit" class="black-text" onclick="logout()">Logout</a></li>
            </ul>

        </div>
    </nav>
</header>

<div class="row" >

    <div class="container col l8 offset-l2" >
        <h2>Search Result For: <span class="teal-text lighten-2-text" th:text="${keyword}">Test</span></h2>
        <div class="container col l12" th:each="blog:${blogs}">
        <div class="section">
            <a href="#" th:href="@{'/blogs/' + ${blog.uri}}"><h5 th:text="${blog.title}">Section 1</h5></a>
            <p th:text="${abstractContents.get(__${blog.id}__)}">Stuff</p>
        </div>
        <div class="divider"></div>
        </div>
    </div>
</div>


<div class="footer-copyright">
    <div class="container center-align ">
        <div class="divider" style="margin-bottom:10px"></div>
        <a style="vertical-align: middle" class="black-text transparent " href="#!">© 2017 Powered By Spring </a><img style="vertical-align: middle" class="responsive-img" src="../images/footer-icon.png" th:src="@{/resource/images/footer-icon.png}">
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <div class="row">
            <form class="col s12" action="#" th:action="@{/login}" method="post">
                <div class="input-field col s12">
                    <input placeholder="Please input username" id="user_name" type="text" class="validate" name="username">
                    <label for="user_name">Username</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Please input password" id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="col s2 offset-s10">
                    <input type="submit" class="waves-effect waves-light btn" value="Log"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript" >
    $(document).ready(function () {
        NProgress.set(0.5);
        $('.modal').modal();
        $('.tooltipped').tooltip({delay: 50});
        $(".button-collapse").sideNav();
    });

    window.onload = function () {
        NProgress.done();
    };

    $('#search-input').bind('keypress',function(e){
        if(e.keyCode == '13') {
            var keyword = $(this).val();
            window.location.href = '/blogs/search?keyword=' + keyword;
        }
    });

    function logout() {
        var csrf = /*[[${_csrf.token}]]*/ null;
        $.ajax({
            method:'post',
            url:'/logout',
            headers:{
                'X-CSRF-TOKEN':csrf
            },
            success:function () {
                window.location.href = '/home';
            }
        });
    }
</script>

</body>
</html>